@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dusky-green: rgb(6, 170, 94);
    --opac-white: rgba(255, 255, 255, .8);
    --form-txt:  rgba(255, 255, 255, .5);
    --darky: #1d2b3a;
    --light-grey: rgb(105, 105, 105);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--dusky-green);
}

.card-container {
    display: grid;
    grid-template-columns: calc(100% - 60%) auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--darky);
}

.image-container{
    display: grid;
    background-color: var(--dusky-green);
    color: white;
}

.image-container > img {
    width: 100%;
}

.company-name {
    display: flex;
    font-size: 34px;
    text-align: left;
    height: 70px;
    align-self: flex-start;
    padding: 2% 0 0 5%;
}

.company-name > a {
    color: white;
    text-decoration: none;
}

.form-container {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding: 50px;
    color: var(--form-txt);
}
.header {
    grid-column: 1 / -1;
    letter-spacing: .06em;
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
}
input {
    display: block;
    border-radius: 4px;
    border: 0;
    border-bottom: 1px solid rgb(0,0,0,.4);
    padding: 6px 6px 6px 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s ease-in;
    color: var(--opac-white);
} 
span {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .4s;
}

form {
    width: auto;
    display: grid;
    place-items: center;
}

.input {
    position: relative;
}

span:not(.login-text) {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
}

input:focus ~ span,
input:not(:placeholder-shown) ~ span{
    font-size: 10px;
    transform: translateX(4px) translateY(-16px);
    font-size: 0.80em;
    padding: 0 6px;
    color: var(--cyny-green);
}

input:focus,
input:focus-visible {
    border-bottom: 1px solid  var(--light-grey);
    outline: none;
}

.valid {
    border: 1px solid var(--green);  
}

.invalid {
    border: 1px solid var(--red);  
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: white !important;
}

.error {
    color: rgba(255, 51, 51, 0.575);
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 4px;
    padding-left: 5px;
}

.btnCreateAccount {
    border: 0;
    background-color: var(--dusky-green);
    color: white;
    padding: 10px 50px;
    letter-spacing: .05em;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

.account-text {
    margin-top: 15px;
    font-size: 14px;
}

.login-text {
    color: var(--dusky-green);
}

