<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Main Page</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/mainPanelCss/adminPage.css" />
    <script src="/js/mainPanelScripts/adminPage.js" defer></script>
  </head>
  <body>
    <main class="container">
      <%- include('navigationPanel.ejs') %>
      <section class="main">
        <div class="formContainer">
          <form class="form" method="post" action="">
            <h1 class="header">Create New Desk</h1>
            <div class="input">
              <label for="deskName">Desk Name:</label>
              <input
                type="text"
                name="deskName"
                id="deskName"
                placeholder=""
                required
              />
            </div>
            <div id="errorDeskName" class="error"></div>
            <div class="input">
              <label for="deskNumber">Desk Number:</label>
              <input
                type="text"
                name="deskNumber"
                id="deskNumber"
                placeholder=""
                required
              />
            </div>
            <div id="errorDeskNumber" class="error"></div>
            <div class="input">
              <label for="floor">Desk at Floor:</label>
              <input
                type="number"
                name="floor"
                id="floor"
                placeholder=""
                required
              />
            </div>
            <div id="errorFloor" class="error"></div>
            <div class="input">
            <label for="type">Desk Type:</label>
            <select id="type" name="type">
              <option value="default" selected>-- type --</option>
              <option value="sitting">Sitting</option>
              <option value="standing">Standing</option>
              <option value="lyingDown">Lying Down</option>
            </select>
          </div>
          <div id="errorType" class="error"></div>
          <div class="createButton">
            <button type="submit" id="btnCreateDesk" class="btnCreateDesk">
              Create Desk
            </button>
          </div>
          </form>
          <div class="info"><%= info %></div>
        </div>
      </section>
    </main>
  </body>
</html>
