<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Main Page</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/mainPanelCss/calendarPage.css" />
    <script> window.allDesks = JSON.parse(decodeURIComponent("<%= encodeURIComponent(JSON.stringify(allDesks)) %>")); </script>
    <script> window.allUsers = JSON.parse(decodeURIComponent("<%= encodeURIComponent(JSON.stringify(allUsers)) %>")); </script>
    <script> window.allBookings = JSON.parse(decodeURIComponent("<%= encodeURIComponent(JSON.stringify(allBookings)) %>")); </script>
    <script src="/js/mainPanelScripts/calendarPage.js" defer></script>
  </head>
  <body>
    <main class="container">
      <%- include('navigationPanel.ejs') %>
      <section class="main">
        <div class="tableContainer">
          <div class="filterContainer">
            <label for="filter">Filter:</label>
            <select id="filter">
              <option value="users" selected>-- filter --</option>
              <option value="users">Users</option>
              <option value="desks">Desks</option>
            </select>
          </div>
          <table>
            <thead>
              <tr>
                <th></th>
                <th class="today"></th>
                <th class="secondDay"></th>
                <th class="thirdDay"></th>
                <th class="forthDay"></th>
                <th class="fifthDay"></th>
                <th class="sixthDay"></th>
                <th class="seventhDay"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="h8">
                <td class="hour8">8:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h9">
                <td class="hour9">9:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h10">
                <td class="hour10">10:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h11">
                <td class="hour11">11:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h12">
                <td class="hour12">12:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h13">
                <td class="hour13">13:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h14">
                <td class="hour14">14:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h15">
                <td class="hour15">15:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h16">
                <td class="hour16">16:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
              <tr class="h17">
                <td class="hour17">17:00</td>
                <td>
                  <p class="info1"></p>
                </td>
                <td>
                  <p class="info2"></p>
                </td>
                <td>
                  <p class="info3"></p>
                </td>
                <td>
                  <p class="info4"></p>
                </td>
                <td>
                  <p class="info5"></p>
                </td>
                <td>
                  <p class="info6"></p>
                </td>
                <td>
                  <p class="info7"></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
