<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Main Page</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/mainPanelCss/calendarPage.css" />
    <script src="/js/mainPanelScripts/calendarPage.js" defer></script>
  </head>
  <body>
    <main class="container">
      <%- include('navigationPanel.ejs') %>
      <section class="main">
        <div class="tableContainer">
          <table>
            <thead>
              <tr>
                <th></th>
                <th class="today"></th>
                <th class="secondDay"></th>
                <th class="thirdDay"></th>
                <th class="forthDay"></th>
                <th class="fifthDay"></th>
                <th class="sixthDay"></th>
                <th class="seventhDay"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="hour8">8:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour9">9:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour10">10:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour11">11:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour12">12:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour13">13:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour14">14:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour15">15:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour16">16:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
              <tr>
                <td class="hour17">17:00</td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
                <td>
                  <p class="userInfo"></p>
                  <p class="deskInfo"></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
