<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Main Page</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/mainPanelCss/userPage.css" />
    <script src="/js/mainPanelScripts/userPage.js" defer></script>
  </head>
  <body>
    <main class="container">
      <section
        class="panel"
        onmouseenter="openPanel()"
        onmouseleave="closePanel()"
      >
        <div class="upperPanel">
          <span>
            <img src="/images/workplace.png" alt="desk" />
            <a class="links" href="/home"
              ><p class="panelText">HotDesk</p></a
            >
          </span>
          <span>
            <img src="/images/calendar.png" alt="calendar" />
            <a class="links" href="/calendar"
              ><p class="panelText">Calendar</p></a
            >
          </span>
          <span>
            <img src="/images/booking.png" alt="booking" />
            <a class="links" href="/booking"
              ><p class="panelText">Booking</p></a
            >
          </span>
        </div>
        <div class="downPanel">
          <span>
            <img src="/images/admin.png" alt="admin" />
            <a class="links" href="/admin"
              ><p class="panelText">Admin</p></a
            >
          </span>
          <span>
            <img src="/images/logout.png" alt="logout" />
            <a class="links" href="/"
              ><p class="panelText">LogOut</p></a
            >
          </span>
          <span >
            <img src="/images/user.png" alt="user" />
            <a class="links" href="/user"
              ><p class="panelText">User</p></a
            >
          </span>
        </div>
      </section>
      <section class="main">
        <div class="infoContainer">
          <div class="avatar"><img class="avatarIcon" src="/images/user.png" alt="user"></div>
          <div class="nameInfo">User Name</div>
          <div class="contactContainer">
            <div class="emailInfo">
              <img class="emailIcon" src="/images/email.png" alt="email">
              <span>example@gmail.com</span>
            </div>
          <div class="telInfo">
            <img class="phoneIcon" src="/images/phone.png" alt="phone">
            <span>+48 222333444</span>
          </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
