<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Main Page</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/mainPanelCss/userPage.css" />
    <script src="/js/mainPanelScripts/userPage.js" defer></script>
  </head>
  <body>
    <main class="container">
      <%- include('navigationPanel.ejs') %>
      <section class="main">
        <div class="infoContainer">
          <div class="avatar"><img class="avatarIcon" src="/images/user.png" alt="user"></div>
          <div class="nameInfo"><%= user.firstName + ' ' + user.lastName %></div>
          <div class="contactContainer">
            <div class="emailInfo">
              <img class="emailIcon" src="/images/email.png" alt="email">
              <span><%= user.email %></span>
            </div>
          <div class="telInfo">
            <img class="phoneIcon" src="/images/phone.png" alt="phone">
            <span><%= '+48 ' + user.phoneNumber %></span>
          </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
