<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="container">
      <div class="nav-bar">
        <h1 class="company-name">Hot Desk</h1>
        <div class="navigation">
          <a href="/home" class="<%= navLocation == 'home' ? 'active' : '' %>">Home</a>
          <a href="/login" class="<%= navLocation == 'main' ? 'active' : '' %>">Login</a>
          <a href="/signup" class="<%= navLocation == 'main' ? 'active' : '' %>">Sign-up</a>
        </div>
      </div>
      <div class="main-container">
        <div class="content">
          <img src="/images/desk.png" class="image-desk" alt="Desk" />
          <div class="information-text">
            <h2 class="information-title">What is it about?</h2>
            <p>
              Hot Desk revolutionizes the way professionals work with a seamless
              online platform. Designed for the modern workplace, Hot Desk
              allows users to effortlessly log in and reserve a desk within
              their company's setup. This innovative website transforms the
              conventional hot desk concept, empowering individuals to create
              their personalized work environment. Say goodbye to traditional
              office hassles and embrace the flexibility of Hot Desk, where
              convenience meets customization in the world of workspace
              solutions.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
