<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Sign-up</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/sign-up.css" />
    <script src="/js/validateSignUp.js" defer></script>
  </head>
  <body>
    <main class="card-container">
      <div class="image-container">
        <h1 class="company-name"><a href="/">Hot Desk</a></h1>
        <img src="/images/desk.png" class="image-desk" alt="Desk" />
      </div>
      <form class="form" method="post" action="" novalidate>
        <div class="form-container">
          <h1 class="header">Sign up</h1>
          <div class="input">
            <label for="firstName"></label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              class="firstName"
              placeholder=""
              required
            />
            <span>First Name</span>
            <div id="errorFirstName" class="error"></div>
          </div>

          <div class="input">
            <label for="lastName"></label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              placeholder=""
              required
            />
            <span>Last Name</span>
            <div id="errorLastName" class="error"></div>
          </div>

          <div class="input">
            <label for="email"> </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder=""
              required
            />
            <span>E-mail</span>
            <div id="errorEmail" class="error"></div>
          </div>

          <div class="input">
            <label for="phoneNumber"> </label>
            <input
              type="tel"
              name="phoneNumber"
              id="phoneNumber"
              placeholder=""
              required
            />
            <span>Phone</span>
            <div id="errorPhoneNumber" class="error"></div>
          </div>

          <div class="input">
            <label for="password"></label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder=""
              required
            />
            <span>Password</span>
            <div id="errorPassword" class="error"></div>
          </div>

          <div class="input">
            <label for="passwordConfirm"></label>
            <input
              type="password"
              id="passwordConfirm"
              placeholder=""
              required
            />
            <span>Confirm Password</span>
            <div id="errorPasswordConfirm" class="error"></div>
          </div>

          <div id="account-container">
              <button type="submit" id="btnCreateAccount" class="btnCreateAccount">
                Create Account
              </button>
            <p class="account-text">
              Already have an account..?
              <a href="/login" class="login-text">Login</a>
            </p>
            <div class="info"><%= info %></div>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
