@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dusky-green: rgb(6, 170, 94);
    --dusky-red: rgb(179, 14, 36);
    --duskier-red: rgb(206, 30, 53);
    --opac-white: rgba(255, 255, 255, .8);
    --form-txt:  rgba(255, 255, 255, .5);
    --darky: #1d2b3a;
    --light-darky: rgba(79, 131, 187, 0.808);
    --lighter-darky: rgba(122, 177, 235, 0.808);
    --light-grey: rgb(105, 105, 105);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--darky);
}

.container {
  display: flex;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 70px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: var(--lighter-darky);
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  border-radius: 3px;
}

.upperPanel,
.downPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

span {
  display: flex;
  align-items: center;
}

.links > p {
  visibility: visible;
  font-size: 20px;
}

span > a {
  padding-left: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: 0.3s;
}

span > a:hover {
  color: var(--form-txt);
}

span.active {
  display: flex;
}

span.disactive {
  display: none;
}

.panel > div > span > img {
  margin: 10px;
  max-width: 50px;
  max-height: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
  transition: margin-left .5s;
  margin-left: 70px;
  padding: 2rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.leftContainer > div,
.rightContainer > div {
  max-height: fit-content;
  padding: 10px;
  background-color: var(--light-darky);
  border-radius: 10px;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.123);
}

.title {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.description {
  font-size: 16px;
  font-weight: 100;
  color: var(--opac-white);
}

.description > span {
  display: inline;
  color: var(--darky);
  font-weight: bold;
}

.leftContainer > div > a {
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: none;
  font-size: 18px;
  color: var(--darky);
}

.notifications > span {
  display: flex;
  gap: 10px;
}

.notifications > span > img {
  max-width: 30px;
  max-height: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  color: var(--opac-white);
}

.myBookings,
.myMessages {
  min-height: 100px;
  max-height: fit-content;
  margin: 20px;
  background-color: var(--lighter-darky);
  border-radius: 5px;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.123);
}

.myBookingsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.myBookingsText {
  display: flex;
  gap: 8px;
}

.myBookingsText .date {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.myBookingsText .info {
  font-size: 16px;
  font-weight: 100;
  color: white;
}

.myBookingsInfo .btnCancel {
  border: 0;
  background-color: var(--dusky-red);
  color: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.myBookingsInfo .btnCancel:hover {
  background: var(--duskier-red);
  transform: translateY(-0.05rem);
}